# Files that Git should ignore in the Emacs source directory.

# Copyright 2009-2023 Free Software Foundation, Inc.

# This file is part of GNU Emacs.

# GNU Emacs is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.

# GNU Emacs is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.

# You should have received a copy of the GNU General Public License
# along with GNU Emacs.  If not, see <https://www.gnu.org/licenses/>.


# Currently we assume only Git 1.7.1 (April 2010) or later, so this
# file does not rely on "**" in patterns.  The "**" feature was added
# in Git 1.8.2 (March 2013).


# Personal customization.

*.orig
*.swp
*~
.#*
\#*\#
ChangeLog
[0-9]*.patch
[0-9]*.txt
*.wasm
